#myForm{
   
    font-style: italic;
}
button{
    margin-bottom: 10px;
}

.form-control{
    /* color:transparent; */
}

#space{
    margin-left: 20px;
}

.card{
    padding:10px;
    color:white;
 }

 .main{
    border:none;
 }

