body{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/28/22/03/dawn-3358468_960_720.jpg");
    width:100%;
    background-size: cover;
    height:600px;
    margin:0;
}

h1{
    font-style:italic;
}
.contents{
    margin-top:30px;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
    width:30%;
    height:50%;
    font-size: 20px;
    margin-left: 20px;
}