<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4 >Quoties:Get Creative__Upload your own or simply view -- vote in acoordance to your likes.</h4>
    <hr>
    <div class="container">
        <div class="row">
            <div id="space" class="col-md-6">
                <div *ngFor= 'let quote of quotes; let i = index;'>
                    <div class="contents">
                        <p class="desc">{{quote.description}}</p> 
                        <p>{{quote.author}}</p>
                        <p>Published on {{quote.publishDate|date}}</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-6">
                <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
            </div>
        </div>
    </div>
</body>
</html>

